@charset "UTF-8";
@import url(./var.css);


.music-btn {
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 3rem;
    height: 3rem;
    background: var(--black);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.bars {
    display: flex;
    align-items: center;
    height: 20px;
    gap: 2px;
}

.bars span {
    width: 2px;
    height: 1px;
    background: var(--white);
    /* height: 100%; */
    /* transform-origin: bottom; */
    /* opacity: 0.5; */
    transition: height .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* 預設讓動畫處於暫停狀態 */
    animation: bounce infinite alternate ease-in-out;
    animation-play-state: paused;
}

/* 播放時的跳動動畫 */
.playing .bars span {
    /* 讓動畫跑起來 */
    animation-play-state: running;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.17, .67, .83, .67);
    height: var(--bg-music-max-h);
    /* 播放時的基準高度 */
    /* animation: bounce 0.5s cubic-bezier(.17,.67,.83,.67) infinite alternate; */
}

.playing .bars span:nth-child(1) {
    animation-duration: 0.5s;
    /* 最快 */
    height: 2px;
}

.playing .bars span:nth-child(2) {
    animation-duration: 0.7s;
    /* 慢 */
    animation-delay: 0.1s;
    height: 12px;
}

.playing .bars span:nth-child(3) {
    animation-duration: 0.5s;
    /* 中 */
    animation-delay: 0.3s;
    height: 20px;
}

.playing .bars span:nth-child(4) {
    animation-duration: 0.6s;
    animation-delay: 0.2s;
    height: 13px;
}

.playing .bars span:nth-child(5) {
    animation-duration: 0.3s;
    /* 最快 */
    height: 6px;
}

@keyframes bounce {
    0% {
        height: 4px;
    }

    100% {
        height: var(--bg-music-max-h);
    }

    /* 繼承各自在 nth-child 設定的高度 */
}